.carousel-item img {
    
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}

.mobile-baner {
    height: 100%;
    width: auto;
    object-fit: cover;
    display: block;
    margin: auto;
}